.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 20px;
}

.main-header {
  margin: 10px 0;
}

.user-email {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 14px;
  padding-bottom: 25px;
}

.sign-in, .sign-out {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.sign-in:hover, .sign-out:hover {
  background-color: #0056b3;
}

main {
  padding: 20px;
}

.navbar-list {
  list-style: none; 
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  background-color: white;
  position: relative;
  top: auto;
  left: 0;
  width: 100%;
}

.navbar-list-item {
  padding: 10px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #007bff;
}

.page {
  color: black;
  font-size: 24px;
}

.welcome-text-content {
  height: 150px;
  background-image: url('./images/editor_test.png');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}

.welcome-link {
  color: pink;
  text-decoration: none;
}

.welcome-link:hover {
  color: hotpink;
}

.generator-main-container {
  background-image: url('./images/editor_test.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.generator-param-header {
  font-style: italic;
  margin-top: 20px;
}

.generator-slider-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  max-width: 1000px;
}

.generator-param-preview {
  margin-top: 10px;
  font-size: 18px;
  min-width: 300px;
  max-width: 300px;
  margin-right: 20px;
}

.generator-slider {
  flex: 1;
  margin: 0 5px;
  /* min-width: 700px;
  max-width: 1000px; */
  padding-right: 10px;
}

.generator-select-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  max-width: 1000px;
}

.generator-selection {
  padding: 5px;
  font-size: 16px;
}

.generator-checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  max-width: 1000px;
}

.generator-checkbox {
  margin-right: 10px;
}

.generator-preview {
  display: block;
  margin: 0 auto;
}

.generate-btn {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: peru;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.generate-btn:hover {
  background-color: orangered;
}

.download-link {
  display: inline-block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
}

.download-link:hover {
  background-color: #0056b3;
}

.editor-main-container {
  background-image: url('./images/editor_test.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.image-effects-explain {
  font-style: italic;
  margin-top: 10px;
}

.editor-subheader {
  font-size: 20px;
  margin-top: 15px;
}

.file-upload-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.file-upload-btn:hover {
  background-color: gray;
}

.new-png-preview {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }
  
  .main-header {
    font-size: 18px;
  }
  
  .sign-in, .sign-out {
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) {
  .App-header {
    font-size: calc(10px + 2vmin);
  }
  
  .main-header {
    font-size: 24px;
  }
  
  .sign-in, .sign-out {
    font-size: 16px;
  }
}